/* Title input */
.title ~ .focusBorder:before,
.title ~ .focusBorder:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #6e6f70;
  transition: 0.2s;
  transition-delay: 0.2s;
}
.title ~ .focusBorder:after {
  top: auto;
  bottom: 0;
  right: auto;
  left: 0;
  transition-delay: 0.6s;
}
.title ~ .focusBorder i:before,
.title ~ .focusBorder i:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 0;
  background-color: #6e6f70;
  transition: 0.2s;
}
.title ~ .focusBorder i:after {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
  transition-delay: 0.4s;
}
.title:focus ~ .focusBorder:before,
.title:focus ~ .focusBorder:after,
.hasContent.title ~ .focusBorder:before,
.hasContent.title ~ .focusBorder:after {
  width: 100%;
  transition: 0.2s;
  transition-delay: 0.6s;
}
.title:focus ~ .focusBorder:after,
.hasContent.title ~ .focusBorder:after {
  transition-delay: 0.2s;
}
.title:focus ~ .focusBorder i:before,
.title:focus ~ .focusBorder i:after,
.hasContent.title ~ .focusBorder i:before,
.hasContent.title ~ .focusBorder i:after {
  height: 100%;
  transition: 0.2s;
}
.title:focus ~ .focusBorder i:after,
.hasContent.title ~ .focusBorder i:after {
  transition-delay: 0.4s;
}
.title ~ label {
  position: absolute;
  left: 14px;
  width: 100%;
  top: 10px;
  color: #aaa;
  transition: 0.3s;
  z-index: -1;
  letter-spacing: 0.5px;
}
.title:focus ~ label,
.hasContent.title ~ label {
  top: -18px;
  left: 0;
  font-size: 12px;
  color: #6e6f70;
  transition: 0.3s;
}

.title {
  font-size: 3.5rem;
  padding: 2px 20px;
  border: 0;
  border-radius: 10px;
  text-align: center;
  line-height: 4rem;
  width: 100%;
  outline: none;
  box-shadow: inset 8px 8px 8px #a29c7352, inset -8px -8px 8px rgb(0 0 0 / 2%);
  background-color: white;
}

.head1 {
  text-align: center;
  margin-bottom: -5%;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 30%), -2px -2px 4px white;
  color: #1d9bf0;
  font-size: 4rem;
}

/* toolbar */
.toolbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5rem;
}
.toolbar {
  min-width: 250px;
  width: 40vw;
  line-height: 3rem;
  font-size: x-large;
  height: 11vh;
  display: flex;
  align-items: center;
}

.toolbarItem {
  padding: 0px 10px;
  width: 3rem;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001, inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001, inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001;
}

.toolbarItem:hover {
  cursor: pointer;
  border-radius: 2px;
  background: "#ecf0fe";
}

.toolbarItemLight:active {
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
}

.toolbarItemDark:active {
  cursor: pointer;
  border-radius: 2px;
  box-shadow: inset rgb(255 255 255 / 7%) -5px -5px 10px,
    inset rgb(0 0 0) 5px 5px 15px;
}

/* blog contents */
.blogContent {
  padding: 0 10vw;
  text-align: left;
}

/* Element container */
.element_container {
  margin-top: 3rem;
}

.inputPara {
  font-size: 1.5rem;
  padding: 10px 20px;
  border: 0;
  border-radius: 10px;
  line-height: 2rem;
  width: 100%;
  height: 20vh;
  outline: none;
  resize: none;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: inset 8px 8px 8px #a29c7352, inset -8px -8px 8px rgb(0 0 0 / 2%);
  background-color: white;
}

/* input subtitle */
/* Subtitle */
.inputSubtitle ~ .focusBorder:before,
.inputSubtitle ~ .focusBorder:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #6e6f70;
  transition: 0.2s;
  transition-delay: 0.2s;
}
.inputSubtitle ~ .focusBorder:after {
  top: auto;
  bottom: 0;
  right: auto;
  left: 0;
  transition-delay: 0.6s;
}
.inputSubtitle ~ .focusBorder i:before,
.inputSubtitle ~ .focusBorder i:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 0;
  background-color: #6e6f70;
  transition: 0.2s;
}
.inputSubtitle ~ .focusBorder i:after {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
  transition-delay: 0.4s;
}
.inputSubtitle:focus ~ .focusBorder:before,
.inputSubtitle:focus ~ .focusBorder:after,
.hasContent.inputSubtitle ~ .focusBorder:before,
.hasContent.inputSubtitle ~ .focusBorder:after {
  width: 100%;
  transition: 0.2s;
  transition-delay: 0.6s;
}
.inputSubtitle:focus ~ .focusBorder:after,
.hasContent.inputSubtitle ~ .focusBorder:after {
  transition-delay: 0.2s;
}
.inputSubtitle:focus ~ .focusBorder i:before,
.inputSubtitle:focus ~ .focusBorder i:after,
.hasContent.inputSubtitle ~ .focusBorder i:before,
.hasContent.inputSubtitle ~ .focusBorder i:after {
  height: 100%;
  transition: 0.2s;
}
.inputSubtitle:focus ~ .focusBorder i:after,
.hasContent.inputSubtitle ~ .focusBorder i:after {
  transition-delay: 0.4s;
}
.inputSubtitle ~ label {
  position: absolute;
  left: 14px;
  width: 100%;
  top: 10px;
  color: #aaa;
  transition: 0.3s;
  z-index: -1;
  letterspacing: 0.5px;
}
.inputSubtitle:focus ~ label,
.hasContent.inputSubtitle ~ label {
  top: -18px;
  left: 0;
  font-size: 12px;
  color: #6e6f70;
  transition: 0.3s;
}

.inputSubtitle {
  font-size: 1.7rem;
  padding: 2px 20px;
  border: 0;
  border-radius: 10px;
  width: 100%;
  outline: none;
  resize: none;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: inset 1px 1px 3px #c5d4e3, inset 2px 2px 6px #c5d4e3,
    inset -2px -2px 4px rgb(255 255 255);
  background-color: white;
}

.dark {
  box-shadow: rgb(255 255 255 / 10%) -2px -2px 6px inset,
    rgb(0 0 0 / 80%) 2px 2px 6px inset;
  background-color: white;
}

/* input code */
/* Code */
.inputCode ~ .focusBorder:before,
.inputCode ~ .focusBorder:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #6e6f70;
  transition: 0.2s;
  transition-delay: 0.2s;
}
.inputCode ~ .focusBorder:after {
  top: auto;
  bottom: 0;
  right: auto;
  left: 0;
  transition-delay: 0.6s;
}
.inputCode ~ .focusBorder i:before,
.inputCode ~ .focusBorder i:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 0;
  background-color: #6e6f70;
  transition: 0.2s;
}
.inputCode ~ .focusBorder i:after {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
  transition-delay: 0.4s;
}
.inputCode:focus ~ .focusBorder:before,
.inputCode:focus ~ .focusBorder:after,
.hasContent.inputCode ~ .focusBorder:before,
.hasContent.inputCode ~ .focusBorder:after {
  width: 100%;
  transition: 0.2s;
  transition-delay: 0.6s;
}
.inputCode:focus ~ .focusBorder:after,
.hasContent.inputCode ~ .focusBorder:after {
  transition-delay: 0.2s;
}
.inputCode:focus ~ .focusBorder i:before,
.inputCode:focus ~ .focusBorder i:after,
.hasContent.inputCode ~ .focusBorder i:before,
.hasContent.inputCode ~ .focusBorder i:after {
  height: 100%;
  transition: 0.2s;
}
.inputCode:focus ~ .focusBorder i:after,
.hasContent.inputCode ~ .focusBorder i:after {
  transition-delay: 0.4s;
}
.inputCode ~ label {
  position: absolute;
  left: 14px;
  width: 100%;
  top: 10px;
  color: #aaa;
  transition: 0.3s;
  z-index: -1;
  letter-spacing: 0.5px;
}
.inputCode:focus ~ label,
.hasContent.inputCode ~ label {
  top: -18px;
  left: 0;
  font-size: 12px;
  color: #6e6f70;
  transition: 0.3s;
}

.inputCode {
  font-size: 1.7rem;
  background-color: #1f1f1f;
  padding: 2px 20px;
  border: 0;
  border-radius: 2px;
  width: 100%;
  outline: none;
  resize: none;
  overflow: hidden;
  box-sizing: border-box;
}

/* Delete button */
.deleteIconContainer {
  font-size: xx-large;
  line-height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 10rem;
}

.deleteIconDark {
  padding: 0.5rem;
  background-color: rgb(19, 20, 25);
  box-shadow: rgb(255 255 255 / 7%) -5px -5px 10px, rgb(0 0 0) 5px 5px 15px;
  color: white !important;
  border-radius: 10px;
  font-size: 30px;
}

.deleteIconDark:active {
  background-color: red;
  box-shadow: inset rgb(255 255 255 / 7%) -5px -5px 10px,
    inset rgb(0 0 0 / 76%) 5px 5px 15px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 30px;
}

.deleteIconLight {
  padding: 0.5rem;
  background-color: #ecf0fe;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
  color: black !important;
  border-radius: 10px;
  font-size: 30px;
}

.deleteIconLight:active {
  background-color: red;
  border-radius: 10px;
  box-shadow: inset 8px 8px 8px rgb(0 0 0 / 25%),
    inset -8px -8px 8px rgb(190 190 190 / 20%);
  font-size: 30px;
}

/* Image placeholder */
.imagePlaceholder {
  border: 2px solid #1f1f1f;
  padding: 1%;
  cursor: pointer;
}

.imagePlaceholder:active {
  transform: scale(1.01);
}

.deleteMobile {
  font-size: large;
  line-height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 10rem;
  margin-left: 100%;
}

.preview {
  color: white;
}
.preview:hover {
  color: white;
}

.writerDark {
  box-shadow: rgb(255 255 255 / 10%) -2px -2px 6px inset,
    rgb(0 0 0 / 80%) 2px 2px 6px inset;
}

.writerLight {
  box-shadow: inset 1px 1px 3px #c5d4e3, inset 2px 2px 6px #c5d4e3,
    inset -2px -2px 4px rgb(255 255 255);
}

.loader {
  right: 7%;
  top: 12%;
  display: flex;
  z-index: 100;
  margin: auto;
  width: 5%;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.loaderMessage {
  font-weight: 500;
  font-size: 1.5rem;
  margin: auto 0;
  color: cornflowerblue;
}

.column {
  padding-left: 2%;
}

.icon {
  color: #1d9bf0;
}
.icon:active {
  color: #1d9bf0;
}

.writerContainer {
  margin-top: 5%;
}

.disabledBtn {
  background-color: #808080db;
}

.iconDisabled {
  color: white;
}

@media only screen and (max-width: 768px) {
  .toolbar {
    width: 55vw;
  }
  .deleteIconContainer {
    width: 0px;
  }
}

@media only screen and (max-width: 426px) {
  .toolbar {
    width: 100vw;
  }

  .deleteIconContainer {
    margin-left: 35px;
  }

  .toolbarItem {
    width: 2.5rem;
  }

  .icon {
    margin-left: -3px;
  }
}

/* Blog writer here */

.blogWriterContainer {
  width: 90%;
  margin: 1em auto 5em auto;
}

.characters {
  list-style: none;
  padding-left: 0;
}

.characters li {
  display: flex;
  align-items: center;
  border: solid 2px #d0d0d0;
  border-radius: 0.2em;
  padding: 0.5em 0.8em 0.5em 0.5em;
  margin-bottom: 1em;
}

.characters p {
  max-width: none;
  font-weight: bold;
  margin: 0;
}

.characters-thumb {
  overflow: hidden;
  flex-shrink: 0;
  width: 2em;
  height: 2em;
  background-color: #e8e8e8;
  padding: 0.5em;
  margin-right: 0.5em;
}
.characters-thumb img {
  display: block;
  width: 100%;
  height: auto;
}

.formSelectionButton {
  color: "#696969";
}

.formSelectionButton:hover {
  color: #1d9bf0;
  text-decoration: underline;
}
